.leaderboards {
  padding: 0;
}

.leaderboards__header {
  border-bottom: 3px solid #f5f5f5;
}

.leaderboards__title {
  font-size: 29px;
  margin: 0;
  padding: $margin-medium 0;
  text-align: center;
  font-weight: 300;

  @media (min-width: $mobile-small) {
    font-size: 6vw;
  }

  @media (min-width: $tablet) {
    font-size: 46px;
  }
}

.filter {

}

.leaderboards__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leaderboards-item {
  padding: ($margin-medium / 2) $margin-medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #f5f5f5;

  &--is-highlighted {
  }

  &:first-of-type::before,
  &:nth-of-type(2)::before,
  &:nth-of-type(3)::before {
    content: '';
    display: block;
    position: absolute;
    left: $margin-small / 2;
    top: 50%;
    transform: translateY(-50%) translateX(8px);
    width: 28px;
    height: 28px;
    background-color: #fff;
    background-size: 100%;
  }

  &:first-of-type::before {
    @include iconMedal(#FDD835);
  }

  &:nth-of-type(2)::before {
    @include iconMedal(#BDBDBD);
  }

  &:nth-of-type(3)::before {
    @include iconMedal(#E65100);
  }
}

// @for $i from 1 to 10 {
//   .leaderboards-item:nth-of-type(#{$i}) {
//     animation-delay: 700ms + (100ms * $i);
//   }
// }

.leaderboards-item__rank {
  width: 20px;
  text-align: center;
  margin-right: $margin-small;
  color: #c7c7c7;
}

.leaderboards-item__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaderboards-item__icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: $margin-small;
}

.leaderboards-item__name {
  font-size: 16px;
  color: $style-color-alternative;
  font-weight: 400;
}

.leaderboards-item__statistics {
  font-size: 14px;
  font-style: italic;
  color: #d7d7d7;
  margin-top: 5px;
  display: none;

  @media (min-width: $mobile-small) {
    display: block;
  }
}

.leaderboards-item__statistics-item {
  display: block;

  @media (min-width: $mobile-small) {
    display: inline;
    margin-right: $margin-small;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.leaderboards-item__score {
  margin-left: auto;
  display: block;
  height: 32px;
  position: relative;
  width: 64px;
  overflow: hidden;
}

.leaderboards-item__score-accent {
  font-size: 18px;
  color: #d7d7d7;
  margin-left: 5px;
  font-style: normal;
}

.leaderboards-item__games,
.leaderboards-item__winrate,
.leaderboards-item__points {
  color: #222;
  font-weight: 500;
  font-size: 32px;
  line-height: 1em;
  margin-left: $margin-medium;
  transform: translateY(-100%);
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;

  @media (min-width: $mobile-small) {
    margin-left: $margin-large;
  }
}

@keyframes fadeInBubble {
  from {
    left: 0px;
    opacity: 0;
  } to {
    left: -10px;
    opacity: 1;
  }
}

.leaderboards-item__bubble {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: -10px;
  width: 140px;
  padding: $margin-small;
  height: auto;
  box-shadow: 0 3px 15px rgba(0,0,0,0.15), 0 3px 3px rgba(0,0,0,0.07);
  background: #fff;
  transform: translateY(-50%) translateX(-100%);
  display: none;

  &--is-active {
    display: block;
    animation: fadeInBubble 300ms;
  }

  &::after {
    content: '\25b6';
    display: block;
    height: 18px;
    width: 18px;
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.07);
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.leaderboards-item__action {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  color: #000;
  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }
}
