$sans-serif: 'Raleway', sans-serif;
$serif: 'Merriweather', serif;

$style-color: #00695C;
$style-color-alternative: #F9A825;

$margin-large: 50px;
$margin-medium: 20px;
$margin-small: 15px;

$tablet: 768px;
$mobile: 640px;
$mobile-small: 520px;
$mobile-portrait: 320px;
