$sans-serif: 'Raleway', sans-serif;
$serif: 'Merriweather', serif;

$style-color: #81C784;
$style-color-alternative: #03A9F4;

$margin-standard: 50px;
$margin-medium: 20px;
$margin-small: 15px;

$desktop: 960px;
$tablet: 768px;
$mobile: 640px;
